body,
html {
  margin: 0;
  padding: 0; 
  height: 100%; 
  box-sizing: border-box; 
}
#url-bar {
  width: 80%; 
  padding: 10px; 
  border-radius: 10px;
}
#nav-bar {
  display: flex; 
  align-items: center; 
  width: 100vw;
  height: 50px; 
  background: #cacaca; 
}
#go-button {
  padding: 10px; 
  background-color: #ffffff;
  border-radius: 64px; 
  margin-left: auto; 
}
#go-button:hover {
  cursor: pointer; 
  background-color: #4e4e4e;
  color: #ffffff; 
}
#browser-content {
  margin-top: 60px; 
  padding: 10px; 
}